[submodule "External/stm32/cmsis-core"]
	path = External/stm32/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core
[submodule "External/stm32/cmsis-device-l0"]
	path = External/stm32/cmsis-device-l0
	url = https://github.com/STMicroelectronics/cmsis-device-l0
[submodule "External/stm32/stm32l0xx-hal-driver"]
	path = External/stm32/stm32l0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32l0xx-hal-driver
